* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
}

header {
    width: 100%;
    background-color:black;
    padding: 30px 30px 30px;
}

.links {
    display: flex;
    list-style-type: none;
    padding: 30px 50px 30px;
    justify-content: space-between;
}

.items {
    text-align: center;
}

.items a {
    display: block;
    color: aquamarine;
}

.items a:hover {
    color: aquamarine;
    text-decoration: none;
    transform: scale(1.3);
}

.hero {
    padding: 100px 30px 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 35px;
}

.solid-border {
    width: 50%;
    padding: 30px 40px 30px;
    margin: 0px 30px 30px;
    border-style: solid;
    border-width: thin;
    border-color: aquamarine;
    border-radius: 5px;
}

.solid-border p {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.self-photo {
    width: 70%;
    padding: 0 30px 30px;
}


/* Hero Section */
h1, h2, h3 {
    text-align: left;
    color: white;
    
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 40px;
    color: aquamarine;
    margin-top: 10px;
}

/* End Heading*/

/* Start About Me Section*/

h3 {
    font-size: 25px;
    margin-top: 0;
}

p {
    color: white;
    float: inherit;
}

/* End About Me Section*/


/* Start Project Section*/

.projects h3 {
    padding: 100px 30px 30px;
}
.github-link {
    text-decoration: none;
    color: aquamarine;
}

.project-container {
    width: 100%;
    padding: 30px 40px 30px;
    margin: 0px 30px 30px;
}

.project-list img {
    padding: 0 30px 30px;
    height: 70px;
    width: 70px;
}
.project-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.project-html:hover {
    transform: scale(1.5);
}

.project-javascript:hover {
    transform: scale(1.5);
}

.project-html p {
    color: aquamarine;
    list-style-type: none;
    text-align: center;
}

.project-javascript p {
    color: aquamarine;
    list-style-type: none;
    text-align: center;
}

/* End Project Section*/


/* Start Contact Section*/
.social-media h3 {
    padding: 100px 30px 20px;
}

.social-links {
    list-style-type: none;
}

.social-links img {
    padding: 0 30px 30px;
    height: 70px;
    width: 70px;
}

.social-container {
    width: 100%;
    padding: 30px 0px 30px;
    margin: 0px 0px 30px;
    display: flex;
    flex-direction: row;
}
/* End Contact Section*/

footer {
    width: 100%;
    margin: 0 auto;
    padding: 30px 30px 30px;
    background-color: black;
}

.footer p {
    color: aquamarine;
    display: block;
    text-align: center;

}

@media only screen and (min-width: 768px) {
    header {
        margin: 0 auto;
    }
    
    .links {
        text-align: left;
        display: flex;
        flex-direction: row;
        margin-right: 100px;
    }

    .links a {
        font-size: 20px;
    }

    .self-photo {
        width: 60%;
        height: 500px;
        padding: 0 30px 30px;
    }
}

@media only screen and (min-width: 1000px) {
    .links {
        display: flex;
        flex-direction: row;
        margin-right: 500px;
        text-align: left;
        justify-content: space-between;
    }

    .items a {
        font-size: 15px;
    }
    
    .items a:hover {
        transform: scale(1.3);
    }
    
    .hero {
        margin-top: 100px;
        margin-left: 100px;
    }
    
    .solid-border {
        width: 20%;
        margin-left: 100px;
    }
    
    .self-photo {
        width: 15%;
        height: 15%;
        margin-left: 1200px;
        margin-top: -350px;
    }

    
    /* Start Project Section*/
    .projects h3 {
        padding: 100px 100px 30px;
    }
    
    .project-list {
        margin-left: 1170px;
        margin-top: -150px;
    }

    .social-media h3 {
        padding: 100px 100px 20px;
    }
    
    .social-container {
        margin-left: 1170px;
        margin-top: -150px;
    }
    /* End Project Section*/
}