* {
    font-size: 20px;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Heading */
header {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    z-index: 2;
}

.links {
    position:absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.items {
    text-align: center;
}

.items a {
    display: block;
    padding: 20px;
    color: white;
}

.items a:hover {
    color: aquamarine;
    text-decoration: underline;
}
/* End Heading */

/* Hero Section */
body {
    background-color: cornflowerblue;
}

